@font-face {
    font-family: add-button;
    src: url(./src/fonts/SourGummy-Italic-VariableFont_wdth\,wght.ttf);
}
body{
    background-color:white;
    margin: 0 auto;
    background: url(./src/pic/backrgoundPic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: aqua;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 7%;
    top: 1%;
    background: url(./src/pic/backgroundForMain22.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 43vw;
    border: 21px;
    align-items: center;
}
.head-section{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 15%;
}
.head-section-p{
    font-family: cursive;
    font-size: 1.9vw;
    font-weight: 900;
    margin-bottom: 0;
}

.head-section-inputs-container1{
    border: 5px double black;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    margin-top: 0.4vw;
    width: 23vw;
    height: 1.4vw;
    display: flex;
    align-items: center;
    padding: 10px;
}

.head-section-inpCon1-input1{
    width: 35%;
    height: 1vw;
    padding: 0.5vw;
    font-family: sans-serif;
    font-size: 0.8vw;
    margin-right: 0;
    outline: none;
    border: 1px solid black;
    border-radius: 15px;

}
.head-section-inpCon1-input2{
    width: 23%;
    height: 1vw;
    padding: 0.5vw;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-right: 0;
    margin-left: 0.41vw;
    border: 1px solid black;
}

.head-section-inpCon1-btn{
    width: 25%;
    height:1vw;
    padding: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: add-button;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1vw;
    border: none;
    outline: none;
    margin-left: 1vw;
    border-radius: 10px;
    background-image: url(./src/pic/addBtnBackground.jpg);
    background-position: center;
    border: 1px solid rgb(134, 100, 100);
    cursor: pointer;
    transition: all;
    transition-duration: 0.1s;
    transition-delay: 0;
    color: rgb(102, 70, 70);
       
}

.head-section-inpCon1-btn:hover{
    color: black;
}
.head-section-inpCon1-btn:active{
    opacity: 1;
    cursor: progress;
    width: 20%;
    height: 0.5vw;
    font-size: 0.8vw;
    transform: translateX(15px);
    color: rgb(102, 70, 70);

}

 
hr{
    height: 1px;
    background-color: black;
    width: 90%;
    text-align: left;
    margin-left: 0;
    margin-top: 0.8vw;
    display: inline-block;
}

.head-section-radioChecker-container{
    margin-top: 1vw;
}

.head-section-radioChecker-container-div1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0;
}

.head-section-raCheckCon-btn{
    width: 2vw;
    font-size: 1.2vw;
    outline: none;
    border: none;
    background-color: #E3E4E8;    
    cursor: pointer;
}
.head-section-raCheckCon-btn:hover{
    font-size:1.4vw;
}
.head-section-raCheckCon-btn:active{
    font-size: 1.2vw;
}

.head-section-raCheckCon-radioWrapper{
    margin-top: 0.4vw;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
}

.head-section-raCheckCon-radioWrapper input[type="checkbox"]{
   accent-color: black;
   width: 1vw;
}

.labels{
    font-family: cursive;
    font-size: 1vw;
}

.head-section-raCheckCon-radioWrapper>div{
    display: flex;
    align-items: center;
}
.table-section-title{
    font-family: cursive;
    font-size: 1.2vw;
    font-weight: 700;
    margin-bottom: 0.2vw;
}
.table-section{
    position: absolute;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    top: 34%;
    left: 15%;
    display: none;
}
table{
    width: 100%;
    margin-top: 0;

}
tbody{
    font-size: 0.8vw;
}
thead{
    height: 0.7vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table-section-table,th,td,tr{
    border: 1px solid black;
    margin-left: 0;
    border-collapse: collapse;
    padding: 10px;     
}

.whoBought{
    display: flex;
    align-items: center;
    border: none;
}
 
.whoBought>img{
    width: 1vw;
    height: 1vw;
}
.whoBought{
    margin-top: 0.2vw;
}

td>button>img{
    width: 1.51vw;
    height: 1.31vw;
}

.deleteBtn{
    transition: all;
    transition-duration: 0.3s;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.deleteBtn:active{
  font-size: 0.1vw;
  cursor: pointer;
  opacity: 0.4;
  transform: translate(-1px,-2px);

}
thead{
    background: url(./src/pic/binIcon.jpg);
    background-position: right;
     background-color: aqua;
     height: 2.1vw;
      
}

.table-container{
    height: 23vw;
    overflow: scroll;
    overflow-x: hidden;
}

i{
    margin-right: 2px;
}

.caution{
    animation: caution 0.2s ease 0.11s 4  alternate-reverse  both;
    border-color:red ;
    box-shadow:0px 3px 13px 0px red;
}

@keyframes caution {

    0%{
        transform: translate(5px,0px);
         
    }
     
    100%{
        transform: translate(-8px,0px);
    }
    
}